.main-slider{
    min-height: 60vh;
    margin: 0 0 30px;
    position: relative;
    .swiper-container {
        width: 100%;
        height: calc(100% - 235px)!important;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: block;

        img{
            width: 100%;
        }
    }
}