body{
    background-color: #fff!important;
}
.main-slider{
    margin: 0 0 30px;
    position: relative;
    .swiper-container {
        width: 100%;
        height: calc(100% - 235px)!important;
        @media (min-width: 993px) {
            height: calc(100vh - 300px)!important;
        }
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: block;

        img{
            width: 100%;
        }
    }
}
section{
    margin: 60px 0;
    &.session-message{
        margin: 0 auto;
    }
    @media (max-width: 769px) {
        margin: 30px 0;
        &.category{
            margin-top: 0;
            .row{
                // background-color: red;
                &:nth-child(2){
                    margin-right: -8px;
                    margin-left: -8px;
                }
            }
        }
    }
}
%clearfix{
  &:before,&:after{
    content: "";
    display: block;
    clear: both;
  }
}
.section-title{
  border-bottom: none!important;
  padding-bottom: 0px;
  @extend %clearfix;
  .text{
    position: relative;
    font-size: 22px;
    font-weight: 700;
    color: var(--secondary, #b50389);
    margin: 0;
    float: right;
    line-height: 30px;
    &:before {
      content: none;
    }
  }
  .more-btn{
    float: left;
    min-width: 30px;
    span{
      font-size: 12px;
      line-height: 30px;
    }
    .material-icons{
      width: 100%;
      text-align: center;
      font-size: 22px;
      line-height: 30px;
    }
  }
}

.card{
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}
.product-tabs {
    .nav-tabs{
        background-color: #f6f6f6;
    }
}

.product-title{
    margin: 0;
}
.product-item{
    position: relative;
    width: 100%;
    .img{
        background-size: contain!important;
        background-color: #fff;
        border-radius: 2px 2px 0 0;
    }
    .item-content{
        padding: 6px;
        text-align: right;
        h2{
          &.title{
            margin: 8px 0 16px!important;
            // color: var(--secondary, #b50389);
            font-size: 18px;
            font-weight: 600;
            line-height: 26px;
            height: 50px;
          }
        }
        p{
          &.title{
            margin: 8px 0!important;
            font-size: 16px;
            font-weight: 600;
            line-height: 23px;
            height: 49px;
            color: #424242;
          }
        }
        .title{
            overflow: hidden;
        }
        .time{
          display: block;
          font-size: 14px;
          margin-top: 4px;
          color: var(--text-light, #afafaf);
        }
        .city{
          font-size: 14px;
          display: block;
          margin-bottom: 8px;
          strong{
            font-weight: 400;
            // color: var(--text-dark, #333);
          }
          color: var(--text-light, #afafaf);
        }
        .prices{
            color: var(--secondary, #b50389);
            font-size: 14px;
            font-weight: 600;
            .discount{
                font-weight: 100;
                text-decoration: line-through;
                color: #707070;
            }
            .value{
                font-size: 28px;
                font-family: "JF Flat",sans-serif;
            }
        }
    }
    .percent{
        background-image: url('/frontend/images/deal.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 40px;
        height: 40px;
        color: #fff;
        font-size: 11px;
        font-weight: 400;
        position: absolute;
        top: -23px;
        left: 50%;
        line-height: 45px;
        padding-left: 6px;
        transform: translateX(-50%);
        z-index: 99;
    }
    @media (max-width: 769px){
        &.card {
            margin: -8px!important;
        }        
    }
}


.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.embed-responsive-4by3 {
    padding-bottom: 75%;
}
.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.res-img-wrapper{
    .img{
        @extend %res_img;
    }
}
%res_img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.embed-responsive .embed-responsive-item{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;

}

.categories-icons{
    .swiper-slide{
        flex-direction: column;
        padding: 20px;
        border-radius: 4px;
        background-color: var(--header-bg, #650c44);
        color: #fff;
        cursor: pointer;
        .icon{
            color: #fff;
            .material-icons{
                font-size: 60px;
            }
        }
        .title{
            font-size: 16px;
            font-weight: 300;
        }
    }
    .swiper-button-prev, .swiper-button-next{
        color: #fff;
    }
    @media (max-width: 769px) {
        margin: 30px 0;
        .swiper-slide{
            flex-direction: column;
            padding: 8px;
            border-radius: 4px;
            background-color: var(--header-bg, #650c44);
            color: #fff;
            cursor: pointer;
            .icon{
                color: #fff;
                .material-icons{
                    font-size: 26px;
                }
            }
            .title{
                font-size: 11px;
                font-weight: 300;
                white-space: nowrap;
                display: block;
                overflow: hidden;
                margin-bottom: 0;
            }
        }
    }
}


// ============
// | featured
// ============
.deals-slider{
    .swiper-container{
        padding-top: 45px;
    }
}

.category{
    margin-top: -30px;
    .container{
        padding-top: 20px;
        padding-bottom: 15px;
        background-color: #F6F6F6;
        border-radius: 2px;
    }
    .swiper-container{
        padding-top: 30px;
        .swiper-slide {
            img{
                width: 100%;
            }
            .img{
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }
    @media (min-width: 768px) {
        .js_oneSlide{
            margin-left: -20px;
        }

    }
    &.similar{
        margin-top: 0px;
        .section-title .text{
            font-size: 20px;
        }
    }
}
.z_store{
    h4{
        min-height: 29px;
        &:before, &:after{
            content: "";
            display: table;
            clear: both;
        }
        a{
            color: var(--text-dark, #424242)!important;
            float: right;
            line-height: 26px;
        }
        .verified{
            float: right;
            line-height: 13px;
            display: inline-block;
            margin-right: 8px;
            .material-icons{
                font-size: 24px;
                color: var(--secondary, #b50389);
            }
        }
    }
}

.product-specs {
    li {
        border-bottom: 1px solid #F0F0F0;
        .specs-label, .specs-value{
            border: none;
            p{
                margin: 0;
            }
        }
    }
}
.card-dp-4{
    border: 1px solid #e0e0e0;
    box-shadow: none;
    border-radius: 2px!important;    
}

.breadcrumb{
    margin: 15px 0;
    border-radius: 2px;
    background-color: #f6f6f6;
}
#productImages {
    a{
        border: 1px solid #ddd;
        img{
            display: block;
            margin: auto;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 350px;
        }
    }
}
#productThumbs {
    .thumbs-vr {
        a {
            border: 1px solid #ddd;
            img{

            }
        }
    }
}
.inner-prod-title{
    margin: 15px 0;
    padding-bottom: 15px;
    h1{
        margin: 0;
        display: block;
        font-size: 22px;
        font-weight: 700;
        color: var(--secondary, #b50389);
        line-height: 30px;
    }

}
.inner-sub-title{
    display: block;
    margin-top: 4px;
    span{
        font-size: 12px!important;
        font-weight: 400;
        padding: 0;
        margin-left: 4px;
        &.label{
            color: var(--text-light, #afafaf);
        }
        &.value{
            color: var(--text-dark, #afafaf);
        }
        a{
            color: var(--secondary, #b50389);      
        }
    }
}
.inner-prod-price{
    margin: 15px 0;
    padding-bottom: 15px;
    display: block;

    &:after{
        content: "";
        display: block;
        border-bottom: 1px solid #ddd;
        margin-top: 15px;
        max-width: 80%;
    }
    .price-item{
        span{
            margin: 0;
            font-weight: 600;
            color: var(--secondary, #b50389);
            line-height: 30px;
            font-size: 14px;
            font-family: "JF Flat",sans-serif;
            strong{
                font-size: 30px;
            }
        }
    }
}
.product-meta{
    // border: 1px solid #ddd;
}
.product-tabs ul{
    border-radius: 4px;
    &.nav {
        border: 2px solid #f6f6f6;
        > li{
            float: right;
        }
    }
}