.main-icons{
	margin: 20px;
	ul{
		list-style: none;
		text-align: center;
		padding: 0;
		margin: 0;
		li{
			display: inline-block;
			margin-left: 70px;
			[icon-circle]{
				width: 80px;
				height: 80px;
				display: block;
				border-radius: 1000px;
				background-color: var(--primary);
					text-align: center;
					margin-bottom: 10px;
				span{
					width: 100%;
					height: 100%;
					font-size: 60px;
					color: #fff;
					line-height: 80px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					&.icon_people{
						background-image: url('frontend/images/account-group.svg');
						width: 60px;
						height: 80px;
						display: block;
						margin: auto;
					}
					&.icon_gavel{
						background-image: url('frontend/images/gavel.svg');
						width: 50px;
						height: 80px;
						display: block;
						margin: auto;
					}
				}
			}
			p{
				font-size: 18px;
				font-weight: 600;
				margin: 0;
			}
			&:last-child{
				margin-left: 0;
			}
		}
	}
	@media (max-width: 769px) {
		ul{
			li{
				margin-left: 30px;
				[icon-circle]{
					width: 60px;
					height: 60px;
					span{
						font-size: 40px;
						line-height: 60px;
						&.icon_people{
							width: 40px;
							height: 60px;

						}
						&.icon_gavel{
							width: 30px;
							height: 60px;
						}
					}
				}				
			}
		}
    }
}

