:root{
    --primary       : #650c44;
    --header-bg     : #89105d; //lighten(#650c44, 8%)
    --dark-primary  : #4D0030;
    --secondary     : #b50389;
    --bg-light      : #f0f0f0;
    --text-dark     : #333;
    --text-light    : #6F6F6F;
}
.main-content{
    min-height: 300px;
}
@import "_header";
@import "_main-icons";
@import "_footer";