:root{
    --primary       : #650c44;
    --header-bg     : #89105d; //lighten(#650c44, 8%)
    --dark-primary  : #4D0030;
    --secondary     : #b50389;
    --bg-light      : #f0f0f0;
    --text-dark     : #424242;
    --text-light    : #6F6F6F;
}
.main-content{
    min-height: 300px;
}
@import "_header";
@import "_mainIcons";
@import "_slides";
@import "_homeContent";
@import "_footer";

@import "_swiper.scss";

.m-Y-15{
  margin-bottom: 15px;
  margin-top: 15px;
}
